 <div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h3 class="user-fullname">Nome: <strong><%= user.fullname %></strong></h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
     <table class="table table-striped">
        <thead>
          <tr>
            <th>Tipo de certificado</th>
            <th>Link para baixar o certificado</th>
          </tr>
        </thead>
        <tbody>
          <% user.certificados.forEach(function(certificado){ %>
            <tr>
              <td><%= certificado.label %></td>
              <td>
                <a href="/usuario/<%= user.cpf %>/certificados/<%= certificado.name %>.pdf">
                  <span class="glyphicon glyphicon-download"></span> Baixar: <%= certificado.label %>
                </a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

  </div>

</div>
