 <div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h3 class="user-fullname">Nome: <strong><%= user.fullname %></strong></h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">

    <% if(certificados && certificados.length){ %>
     <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Tipo de certificado</th>
            <th>Link para baixar o certificado</th>
          </tr>
        </thead>
        <tbody>
          <% certificados.forEach(function(certificado){ %>
            <tr>
              <td>
                Certificado de <%= PDFService.getTemplateLabel(certificado.type) %>

                <% if(certificado.data && certificado.data.titulo){ %>
                  <br>Titulo: <strong><%= certificado.data.titulo %></strong>
                <% } %>

                <% if(certificado.data && certificado.data.atividade && certificado.data.tipo_de_atividade){ %>
                  <strong><%= certificado.data.atividade %></strong>
                <% } %>
              </td>
              <td>
                <a href="/usuario/<%= user.cpf %>/certificados/<%= certificado.id %>.pdf">
                  <span class="glyphicon glyphicon-download"></span> Baixar em PDF: Certificado de <%= PDFService.getTemplateLabel(certificado.type) %>
                </a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <p>
        Nenhum certificado disponível neste sistema.
      </p>
    <% } %>

    </div>

  </div>

</div>
