<h1>Email de recuperação de senha do site <%= site.name %>!</h1>

<p>
  Oi <%= user.name %>,<br>
  <a text="Confirm link" href="<%= confirmUrl %>">Click here</a> ou copie e cole o link abaixo para criar uma nova senha no <%= site.name %>

  <b>Link para mudar a senha:</b> <%= confirmUrl %>
</p>


Equipe <%= site.name %>